<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.datePlan.service.impl.DatePlanMapper">

	<select id="selectPlanBoardListService" parameterType="Map" resultType="Map">
		SELECT		tb.BOARD_NO
				   ,tb.REG_DT
				   ,tb.REG_ID
		FROM 		t_date_board tb
		WHERE		tb.DEL_YN = 'N'
	</select>
	
	<select id="selectDateDayListService" parameterType="Map" resultType="Map">
		SELECT	  td.DAYS_NO
			     ,td.DAYS_DATE
		FROM      t_date_days td

	</select>

</mapper>